* {
    padding:0;
    margin: 0;
}

.main {
    background-image: url(https://wallpapers.com/images/high/netflix-and-chill-66a0zl8dlfkdhcwl.webp);
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}