@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/bg.jpg);
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

nav image {
     color: red;
    width: 130px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}
.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;

}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.separation {
    height: 7px;
    background-color: rgb(63, 55, 55);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;


}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5)
}



.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

@media screen and ({max-width: 1300px){
.first {
    flex-wrap: wrap;
}
.secImg img {
    width: 305px;
   
}
.secImg video {
   
    width:305px;
}
}
    

.secImg {
    position: relative;

}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
}

.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;

}


.faq h2 {
    text-align: center;
    padding: 34px;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    font-size: 24px;

}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: rgb(37, 36, 36);
    color: white;
}

.faqbox {
    color: white;
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;

}

footer {
    color: white;
    margin: auto;
    max-width: 30vw;
    padding:14px;
}
footer .questions {
    padding:34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and ({max-width: 1300px){
.first {
    flex-wrap: wrap;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
}

.footer a {
    font-size: 14px;
    color:white; 
}



.footer-item {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 60vw;
    margin: auto;
    gap:23px;
}